<div class="headerContainer">
  <mat-toolbar class="header">
    <div class="leftContainer">
      <div class="menuIcon">
        <mat-icon
          *ngIf="
            loginData.islogged &&
            (instructorSelected == null || instructorSelected == 'true')
          "
          (click)="toggleSideMenu()"
          >menu</mat-icon
        >
      </div>
      <div
        *ngIf="
          !(
            loginData.islogged &&
            (instructorSelected == null || instructorSelected == 'true')
          )
        "
        class="logo"
      >
        
        <h1><img src="../../../../assets/images/SkillHive-logo.png" height="110px" width="150px"/></h1>
      </div>
      <div class="headerLinks"><a href="/home">Home</a></div>
      <div class="headerLinks"><a href="/about">About us</a></div>
      <div class="headerLinks">
        <a href="/admin-view-all-courses">Courses</a>
      </div>
      <div class="headerLinks"><a href="/contact">Contact us</a></div>
      <!-- <span *ngIf="false" class="example-spacer"></span> -->
    </div>
    <div class="centerRightContainer">
      <div class="centerWrapper">
        <div
          class="centerContainer"
          *ngIf="
            loginData.islogged &&
            (instructorSelected == null || instructorSelected == 'true')
          "
        >
          <mat-icon>search</mat-icon>
          <form class="searchFormContainer" [formGroup]="searchForm">
            <input
              class="searchInput"
              type="text"
              formControlName="searchStr"
              placeholder="Search here..."
            />
          </form>
          <button (click)="closeSearchDropdown()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="rightContainer">
        <button
          *ngIf="!loginData.islogged"
          mat-flat-button
          class="headerBtn"
          (click)="signIn()"
        >
          Sign in
        </button>
        <button
          *ngIf="!loginData.islogged"
          mat-flat-button
          class="headerBtn"
          (click)="signUp()"
        >
          Create free account
        </button>
        <button
          *ngIf="loginData.islogged"
          mat-flat-button
          class="profileBtn"
          (click)="openDropdown()"
        >
          <div class="profileContainer">
            <div class="genderIcon">
              <img
                src="../../../../assets/images/male_profile.png"
                class="genderImg"
              />
            </div>
            <div class="usernName">
              {{ loginData.name.split(" ")[0] }}
            </div>
            <div *ngIf="!opened" class="toggleArrow">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
            <div *ngIf="opened" class="toggleArrow">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </div>
          </div>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div class="search_profile">
    <div class="searchContainer">
      <div
        *ngIf="searchFound"
        class="noResultFound"
        (click)="closeSearchDropdown()"
      >
        No result found
      </div>
      <div *ngIf="openSearch" class="search">
        <div
          *ngFor="let option of filteredOptions"
          class="filteredOptions"
          (click)="redirectFromSearch(option.url)"
        >
          {{ option.option }}<mat-icon>north_east</mat-icon>
        </div>
      </div>
    </div>
    <div class="profileDropdownContainer">
      <div *ngIf="opened" class="profileDropdown">
        <div class="profileOptions">
          <button class="profileOptionsBtn" mat-flat-button (click)="logout()">
            <mat-icon>logout</mat-icon>Sign Out
          </button>
        </div>
        <div class="profileOptions" *ngIf="instructorApplied == 'false'">
          <button class="profileOptionsBtn" mat-flat-button>
            <mat-icon>upload_file</mat-icon>
            <a href="/apply-instructor">Apply as Instructor</a>
          </button>
        </div>
        <div [ngClass]="{ profileOptions: true }">
          <button
            [ngClass]="{
              profileOptionsBtn: true,
              disableBtn: loginData.user === 'admins'
            }"
            mat-flat-button
            (click)="deleteAccount()"
          >
            <mat-icon>delete</mat-icon>Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
